body {
    margin: 0;
    border-left: 10px;
    border-left-width: thin;
}

p {
    margin-left: 10px;
    font-family: 'Fira Sans', sans-serif;
}
/*Tabelle auf der Spieleseite*/
#rheihe {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

    /*Border der Tabelle*/
    #rheihe td, #rheihe th {
    border: 1px solid #ddd;
    padding: 8px;
}

    /* hintergrundfarbe,textfarbe, fülle*/
    #rheihe th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #333;
        color: white;
    }

    /*macht gerade zeilen grau*/
    tr:nth-child(even) {
    background-color: #f2f2f2
}

    /*wenn man drüber hovert wird die zeile dunkler*/
    tr:hover {
    background-color: #ddd;
}


/* schriftart aller headlines*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    margin-left: 10px;
    text-align: center;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    margin-left: 10px;
    text-align: center;
}


/*größe und anordnung der Würfel */
.Dice {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    animation-name: wirdGewürfelt;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-play-state:paused;
    animation-fill-mode: backwards;
}
/* Position der Würfel*/
.Dices {
    text-align: center;
}

@keyframes wirdGewürfelt{
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*Inhaltsvereichnis im Datenschutz*/
#inhaltsverzeichnis {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.inhalt_titel{
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li {
    list-style: outside none none !important;
}




/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    box-sizing: border-box;
}



/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}



/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

    /* Close button on hover */
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.login2 {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login4 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #333;
    border: none;
    box-shadow: 0 9px #999;
}
/*wenn man über den button hovert*/
.login4:hover {
    background-color: #666;
}
/*wenn man auf den button klickt*/
.login4:active {
    background-color: #333;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*Formatierung der Rankingliste in Optionen.html*/
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

    h2 small {
        font-size: 0.5em;
    }

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsive-table .table-header {
    background-color: #333;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
    font-family: 'Fira Sans', sans-serif;
}

.responsive-table .col-2 {
    flex-basis: 40%;
    font-family: 'Fira Sans', sans-serif;
}

.responsive-table .col-3 {
    flex-basis: 25%;
    font-family: 'Fira Sans', sans-serif;
}

.responsive-table .col-4 {
    flex-basis: 25%;
    font-family: 'Fira Sans', sans-serif;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .col {
        flex-basis: 100%;
    }

    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }

        .responsive-table .col:before {
            color: #6c7a89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
        }
}

/*----------------------------------------footer-styles---------------------------------------*/
#footer {
    margin: 0;
    padding: 0;
    width: auto;
}

    #footer .connect {
        background-color: #a3a3a3;
        margin: 0;
        min-height: 84px;
        overflow: hidden;
        padding: 0;
        width: auto;
    }

        #footer .connect div {
            margin: 0 auto;
            max-width: 960px;
            overflow: hidden;
            padding: 24px 0 0;
        }

            #footer .connect div h1 {
                color: #FFFFFF;
                float: left;
                font-family: audiowide-regular-webfont;
                font-size: 23px;
                font-weight: normal;
                line-height: 23px;
                margin: 0;
                padding: 8px 25px 0 0;
                text-align: right;
                text-transform: uppercase;
                width: 525px;
            }

            #footer .connect div div {
                float: left;
                margin: 0;
                overflow: hidden;
                padding: 0 0 0 20px;
                width: 380px;
            }

                #footer .connect div div a {
                    background: url(../images/icons.png) no-repeat;
                    display: block;
                    float: left;
                    height: 36px;
                    margin: 0;
                    padding: 0;
                    text-indent: -99999px;
                    width: 18px;
                }

                    #footer .connect div div a.facebook {
                        background-position: 0 0;
                        margin: 0 0 0 16px;
                        width: 18px;
                    }

                    #footer .connect div div a.twitter {
                        background-position: 0 -114px;
                        margin: 0 0 0 28px;
                        width: 44px;
                    }

                    #footer .connect div div a.googleplus {
                        background-position: 0 -38px;
                        margin: 0 0 0 27px;
                        width: 37px;
                    }

                    #footer .connect div div a.pinterest {
                        background-position: 0 -76px;
                        margin: 0 0 0 29px;
                        width: 30px;
                    }

                    #footer .connect div div a.facebook:hover {
                        background-position: -20px 0;
                    }

                    #footer .connect div div a.twitter:hover {
                        background-position: -46px -114px;
                    }

                    #footer .connect div div a.googleplus:hover {
                        background-position: -38px -38px;
                    }

                    #footer .connect div div a.pinterest:hover {
                        background-position: -32px -76px;
                    }

    #footer .footnote {
        background-color: #FFFFFF;
        margin: 0;
        min-height: 84px;
        overflow: hidden;
        padding: 0;
        width: auto;
    }

        #footer .footnote div {
            margin: 0 auto;
            overflow: hidden;
            padding: 34px 0 0;
            width: 960px;
        }

            #footer .footnote div p {
                color: #000000;
                display: block;
                font-family: Arial;
                font-size: 12px;
                font-weight: normal;
                margin: 0 auto;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                width: 940px;
            }

#wix {
    max-width: 728px;
    margin: 0 auto;
}

    #wix a img {
        width: 100%;
    }
